{% extends "base.html" %}


{% block content %}
<section id="contact">
    <div class="contact">
        <div class="vh-100 row justify-content-center align-items-center">
            <div class="col-6 shadow p-4">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                       <div class="col ">
                      <input type="text" class="form-control" name="name" placeholder="Name">
                      </div>
                    <div class="col">
                    
                       <input type="text" class="form-control" name="phone" placeholder="Phone">
                    </div>
                    </div>
                    <div class="row">
                    <div class="col ">
                      <input type="text" class="form-control" name="email" placeholder="E-mail">
                      </div>
                    <div class="col">
                       <input type="text" class="form-control" name="subject" placeholder="Subject">
                    </div>
                 </div>
                 <div class="row">
                    <div class="col ">
                      <textarea name="Message" class="form-control" row="5" placeholder="Message"></textarea> 
                    </div>
                    </div>
                    <button type="submit" class="btn btn-danger px-4">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}