{% extends "base.html" %}
{% load static %}


{% block content %}
<section id="contact">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-10 col-lg-12">
                <table class="table caption-top table-bordered">
                    <caption class="fs-4 fw-bolder my-4 text-success">Contact List</caption>
                    <thead>
                        <tr class="">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Sumject</th>
                            <th>Message</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in contacts %}
                        
                        <tr>
                            <th scope="row">{{ c.pk }}</th>
                            <td>{{ c.name }}</td>
                            <td>{{ c.phone }}</td>
                            <td>{{ c.email }}</td>
                            <td>{{ c.subject }}</td>
                            <td>{{ c.message }}</td>
                            <td class="text-center">
                                
                                <a href="#" class="text-primary"><i class="fa-solid fa-eye"></i></a>
                                <a href="{% url 'contact_edit' c.pk %}" class="text-info mx-2"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{% url 'contact_delete' c.pk %}" class="text-danger" ><i class="fa-regular fa-trash-can"></i></a>
                                
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No contact data available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}